@use "@styles/abstracts/mixins" as m;

.stats-card__label {
  font-weight: 600;
}

.stats-card__values--logo {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 4px 0;
}

.stats-card__logo {
  height: 26px;

  @include m.break-reverse(768) {
    height: 30px;
  }
}