@use "@styles/abstracts/variables" as v;

.popularity-chart {
  * {
    outline: none !important;

    &:focus-visible {
      outline: none !important;
    }
  }

  .recharts-surface {
    cursor: pointer;
  }
}

.popularity-chart__title {
  margin: 0 0 12px;
  font: 600 18px / 1 v.$source-sans;
}

.popularity-chart__container {
  & > div {
    width: fit-content !important;
    height: fit-content !important;
  }
}
