.details-plate {
  display: grid;
  grid-template-rows: repeat(auto, 1fr);
  gap: 20px;
}

.details-plate--list {
  grid-template-columns: 1fr;
}

.details-plate--column-2 {
  grid-template-columns: repeat(2, 1fr);
}
