@use "@styles/abstracts/variables" as v;

.score-badge {
  display: flex;
  align-items: center;
  gap: 2px;
  padding: 4px 6px;
  width: fit-content;
  background: v.$primary--75;
  color: v.$neutral--0;
  border-radius: 6px;
}

.score-badge__icon {
  margin: -1px 0 0;
  width: 16px;
  height: 16px;
}
