@use "@styles/abstracts/variables" as v;
@use "@styles/abstracts/mixins" as m;

.review-card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  border: 1px solid v.$neutral--10;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(v.$neutral--100, 0.1);
}

.review-card__header-block {
  position: relative;
  display: flex;
  align-items: center;
  gap: 16px;
}

.review-card__meta {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 4px;
}

.review-card__title {
  width: 100%;
  font-size: 18px;
  line-height: 1;

  @include m.break-reverse(768) {
    font-size: 20px;
  }
}

.review-card__button {
  display: inline-flex;
  font-size: inherit;
  font-weight: inherit;
}

.review-card__timestamp {
  font: 300 14px / 1 v.$source-sans;
}

.review-card__score-bage {
  position: absolute;
  top: 0;
  right: 0;
}

.review-card__review-title {
  margin: 0 0 8px;
}

.review-card__review-text {
  &:not(:last-of-type) {
    margin: 0 0 8px;
  }
}
