/*----- sizes ----- */
$backdrop-height--poster: 225px;
$backdrop-height--trailer: 175px;
$slider-top-padding: 20px;

/*----- base colors ----- */
$neutral--100: #000;
$neutral--90: #141414;
$neutral--70: #8c9598;
$neutral--50: #adb5bd;
$neutral--30: #ced4da;
$neutral--20: #dee2e6;
$neutral--10: #e9ecef;
$neutral--0: #fff;

$primary--100: #081c22;
$primary--80: #0a1526;
$primary--60: #0d253f;
$primary--40: #073844;
$primary--20: #133a63;
$primary--0: #9aa5b1;

$secondary--100: #017da1;
$secondary--50: #0196c2;
$secondary--25: #01b4e4;
$secondary--0: #9dd7e8;

$tertiary--100: #1ed5a9;
$tertiary--50: #90cea1;
$tertiary--0: #c0fecf;

$purple--100: #5b3fc0;
$purple--50: #805be7;
$purple--25: #9a7ff0;
$purple--0: #b7aee0;

$red--100: #32112c;
$red--75: #a10030;
$red--50: #d40242;
$red--25: #d93b63;
$red--0: #efafbb;

$orange: #fdc170;

$gradient--green: linear-gradient(90deg, $tertiary--0 0%, $tertiary--100 100%);
$gradient--orange: linear-gradient(90deg, $orange 0%, $red--25 100%);

/*----- font-families ----- */
$source-sans: "Source Sans 3", sans-serif;
$barlow: "Barlow";
$consensus: "Consensus";
$shrikhand: "Shrikhand";

/*----- sizes ----- */
$headerHeight: 64px;

/*----- transition ----- */
$transition--base: all 0.3s ease;
$transition--long: all 0.5s ease;
$transition--short: all 0.15s ease;
$transition--spring: all 0.3s cubic-bezier(0.32, 0.94, 0.6, 1);
