@use "@styles/abstracts/variables" as v;
@use "@styles/abstracts/mixins" as m;

.provider-banner {
  position: relative;
  background: radial-gradient(
    at 30% top, 
    v.$primary--40 0%, 
    v.$primary--60 70%
  );
  overflow: hidden;
}

.provider-banner__body {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;

  @include m.break-reverse(576) {
    justify-content: space-between;
  }
}

.provider-banner__logo-image {
  height: 75px;

  @include m.break-reverse(576) {
    height: 50px;
  }
}
