@use "@styles/abstracts/mixins" as m;

.media-backdrop-layer {
  position: relative;
}

.media-backdrop-layer__image {
  position: relative;
  z-index: 1;
  width: 100%;
  height: calc(100vw / 3 + 40px);
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;

  @include m.break-reverse(768) {
    z-index: inherit;
    height: 100%;
    background-position: calc(50vw - 510px) 0%;
  }
}

.media-backdrop-layer__overlay {
  position: absolute;
  inset: 0;
}
