@use "@styles/abstracts/mixins" as m;

.media-backdrop-layer {
  position: relative;
}

.media-backdrop-layer__image {
  position: relative;
  z-index: 1;
  width: 100%;
  height: calc(100vw / 3 + 40px);
  background-position: calc((100vw * 0.45 - 20px) / 3) 0%;
  background-size: cover;

  @include m.break-reverse(768) {
    z-index: inherit;
    height: 100%;
    background-position: calc((100vw * 0.35 - 20px) / 3) 0%;
  }

  @include m.break-reverse(992) {
    background-position: calc((100vw * 0.25 - 20px) / 3) 0%;
  }

  @include m.break-reverse(1440) {
    background-position: calc((100vw * 0.45 - 20px) / 3) 0%;
  }
}

.media-backdrop-layer__overlay {
  position: absolute;
  inset: 0;
}
