@use "@styles/abstracts/variables" as v;
@use "@styles/abstracts/mixins" as m;

.media-meta {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 16px;

  @include m.break-reverse(768) {
    justify-content: flex-start;
    gap: 16px;
  }
}

.media-meta__item {
  position: relative;
  white-space: nowrap;

  &:not(:first-of-type) {
    &:before {
      @include m.break-reverse(768) {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(-10px, -50%);
        width: 4px;
        height: 4px;
        background: v.$neutral--0;
        border-radius: 50%;
      }
    }
  }

  &:nth-of-type(2) {
    &:before {
      @include m.break(767) {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(-10px, -50%);
        width: 4px;
        height: 4px;
        background: v.$neutral--0;
        border-radius: 50%;
      }
    }
  }

  &:nth-of-type(3) {
    @include m.break(767) {
      width: 100%;
      text-align: center;
    }
  }
}

.media-meta__item--release-date {
  display: flex;
  align-items: center;
  gap: 6px;

  @include m.break-reverse(768) {
    order: 1;
  }
}

.media-meta__item--runtime {
  @include m.break-reverse(768) {
    order: 2;
  }
}

.media-meta__item--genres {
  @include m.break-reverse(768) {
    order: 3;
  }
}

.media-meta__certification {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
  line-height: 1;
  border: 1px solid v.$neutral--0;
  border-radius: 2px;
  opacity: 0.8;
}

.media-meta__genre-button {
  display: inline-flex;
}
