@use "@styles/abstracts/variables" as v;

.media-meta {
  display: flex;
  align-items: center;
  gap: 16px;
}

.media-meta__item {
  position: relative;
  display: flex;
  align-items: center;
  gap: 6px;
  white-space: nowrap;

  &:not(:first-of-type) {
    &:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate(-10px, -50%);
      width: 4px;
      height: 4px;
      background: v.$neutral--0;
      border-radius: 50%;
    }
  }
}

.media-meta__certification {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
  line-height: 1;
  border: 1px solid v.$neutral--0;
  border-radius: 2px;
  opacity: 0.8;
}
