@use "@styles/abstracts/variables" as v;
@use "@styles/abstracts/mixins" as m;

.media-hero {
  position: relative;
  border-color: black;
  overflow: hidden;
}

.media-hero--dark {
  .media-meta__item {
    &:before {
      background: v.$neutral--100;
    }
  }

  .media-meta__certification {
    border-color: v.$neutral--100;
  }
}

.media-hero__backdrop {
  position: absolute;
  z-index: -1;
  inset: 0;
}

.media-hero__body {
  display: flex;
  gap: 30px;
  padding: calc(100vw / 3 + 40px) 0 20px;

  @include m.break-reverse(768) {
    padding: 30px 0;
  }
}

.media-hero__poster {
  position: absolute;
  top: 20px;
  left: 20px;
  min-width: calc(100vw / 4.5);
  max-width: calc(100vw / 4.5);
  height: calc(100vw / 3);
  border-radius: 8px;
  overflow: hidden;

  @include m.break-reverse(768) {
    position: static;
    min-width: 250px;
    max-width: 250px;
    height: 375px;
  }

  @include m.break-reverse(992) {
    min-width: 300px;
    max-width: 300px;
    height: 450px;
  }
}

.media-hero__poster-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.media-hero__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 20px 0 0;

  @include m.break-reverse(768) {
    align-items: flex-start;
    gap: 20px;
    padding: 0;
  }
}

.media-hero__title {
  font: 700 24px / 1 v.$source-sans;

  @include m.break-reverse(768) {
    order: 1;
    font-size: 36px;
  }
}

.media-hero__date {
  font-weight: 400;
  opacity: 0.8;
}

.media-hero__attractions {
  display: flex;
  align-items: center;
  gap: 16px;

  @include m.break-reverse(768) {
    flex-direction: row;
    order: 3;
  }
}

.media-hero__average-block {
  display: flex;
  align-items: center;
  gap: 6px;
}

.media-hero__average-label {
  font-size: 14px;
  font-weight: 700;

  @include m.break-reverse(768) {
    font-size: 16px;
  }
}

.media-hero__play-button {
  .button__icon {
    width: 24px;
    height: 24px;
  }
}

.media-hero__meta {
  position: relative;
  padding: 16px 0;
  width: 100%;

  @include m.break-reverse(768) {
    order: 2;
    margin: -20px 0 0;
    padding: 0;
  }

  &:before {
    @include m.break(767) {
      content: "";
      position: absolute;
      z-index: 0;
      inset: 50%;
      transform: translate(-50%, -50%);
      width: calc(100% + 40px);
      height: 100%;
      backdrop-filter: brightness(0.8);
    }
  }
}

.media-hero__tagline {
  align-self: flex-start;
  font: 400 italic 16px / 1 v.$source-sans;
  opacity: 0.8;

  @include m.break-reverse(768) {
    order: 4;
    font-size: 18px;
  }
}

.media-hero__overview {
  @include m.break-reverse(768) {
    order: 5;
  }
}

.media-hero__overview-title {
  margin: 0 0 8px;
  font: 600 18px / 1 v.$source-sans;

  @include m.break-reverse(768) {
    font-size: 20px;
  }
}

.media-hero__overview-description {
  max-width: 900px;
}

.media-hero__crew {
  align-self: flex-start;

  @include m.break-reverse(768) {
    order: 6;
  }
}
