@use "@styles/abstracts/variables" as v;

.average {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: v.$primary--100;
  border-radius: 50%;
}

.average--sm {
  width: 40px;
  height: 40px;
}

.average--md {
  width: 64px;
  height: 64px;

  [class*=" icon-"],
  [class^="icon-"] {
    font-size: 16px;
  }
}

.average--skeleton {
  background: v.$neutral--90;
}

.average__circle {
  position: absolute;
  inset: 0;
  transform: rotate(-90deg);
  width: 100%;
  height: 100%;
}

.average__circle-background {
  fill: none;
}

.average__circle-progress {
  fill: none;
  transition: stroke-dashoffset 0.4s ease;
}

.average__value {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: flex-start;
  gap: 0.5px;
  color: v.$neutral--0;
}
