@use "@styles/abstracts/variables" as v;

.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
}

.avatar__initials {
  font-size: 18px;
  color: v.$neutral--0;
}

.avatar__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
