@use "@styles/abstracts/variables" as v;
@use "@styles/abstracts/mixins" as m;

.slider {
  position: relative;
}

.slider--inverted {
  .slider__overlay--left {
    background: linear-gradient(90deg, rgba(v.$primary--50, 0.9), transparent);
  }

  .slider__overlay--right {
    background: linear-gradient(270deg, rgba(v.$primary--50, 0.9), transparent);
  }
}

.slider__overlay {
  position: absolute;
  z-index: 2;
  top: 50%;
  transform: translate(0, -50%);
  width: 60px;
  height: 100vh;
  opacity: 0;
  transition: v.$transition--base;
  pointer-events: none;
}

.slider__overlay--left {
  left: -20px;
  background: linear-gradient(90deg, rgba(v.$neutral--0, 0.9), transparent);
}

.slider__overlay--right {
  right: -20px;
  background: linear-gradient(270deg, rgba(v.$neutral--0, 0.9), transparent);
}

.slider__overlay--visible {
  opacity: 1;
}

.slider__body {
  padding: 20px 0 40px;

  @include m.break-reverse(1440) {
    overflow: hidden;
  }
}

.slider__items {
  display: flex;
  gap: 20px;
}

.slider__item {
  flex: 0 0 auto;
}

.slider__button--disabled {
  opacity: 0;
  pointer-events: none;
}
