@use "@styles/abstracts/variables" as v;

.leaderboard-card {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
}

.leaderboard-card__button {
  position: static;
  font: 600 18px / 1 v.$source-sans;

  &:before {
    content: "";
    position: absolute;
    inset: 0;
    cursor: pointer;
  }
}

.leaderboard-card__content {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 100%;
}
