@use "@styles/abstracts/mixins" as m;

.user-stats__title {
  margin: 0 0 8px;
}

.user-stats__body {
  display: flex;
  flex-direction: column;
  row-gap: 30px;

  @include m.break-reverse(576) {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 6vw;
  }

  @include m.break-reverse(1440) {
    column-gap: 8vw;
  }
}
