@use "@styles/abstracts/variables" as v;
@use "@styles/abstracts/mixins" as m;
@use "@styles/abstracts/keyframes";

.global-loader {
  position: fixed;
  z-index: 130;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: v.$primary--60;
}

.global-loader--close {
  animation: fadeOut 0.6s ease-out forwards;
}

.global-loader__body {
  display: grid;
  align-items: center;
  grid-template-columns: auto minmax(0, 1fr) auto;
  column-gap: 6px;
  row-gap: 7.8px;

  @include m.break-reverse(768) {
    column-gap: 8px;
    row-gap: 10.5px;
  }
}

.global-loader__part {
  width: auto;
  height: 21.7px;

  @include m.break-reverse(768) {
    height: 29px;
  }
}

.global-loader__part--pill-1,
.global-loader__part--pill-2 {
  animation: growPill 0.6s ease-out forwards;
  animation-delay: 0.1s; 
}

.global-loader__part--pill-1 {
  grid-area: 1 / 2 / 2 / 3;
}

.global-loader__part--pill-2 {
  grid-area: 3 / 1 / 4 / 2;
}

.global-loader__part--word-1,
.global-loader__part--word-2,
.global-loader__part--word-3 {
  opacity: 0;
  animation: fadeInSlide 0.6s ease-out forwards;
}

.global-loader__part--word-1,
.global-loader__part--word-2 { 
  animation-delay: 0.4s; 
}

.global-loader__part--word-1 { 
  grid-area: 1 / 1 / 2 / 2;
}

.global-loader__part--word-2 { 
  grid-area: 3 / 2 / 4 / 3;
}

.global-loader__part--word-3 { 
  grid-area: 2 / 1 / 3 / 3;
  animation-delay: 0.7s; 
}
