@use "@styles/abstracts/variables" as v;

.global-loader {
  position: fixed;
  z-index: 90;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background: linear-gradient(90deg, v.$secondary--25, v.$tertiary--50);
  transition: v.$transition--long;
}
