@use "@styles/abstracts/variables" as v;
@use "@styles/abstracts/mixins" as m;

.filmography-cell {
  position: relative;
  display: grid;
  align-items: center;
  grid-template-columns: auto minmax(0, 1fr) auto;
  column-gap: 12px;
  cursor: pointer;

  &:not(:last-of-type) {
    &:before {
      content: "";
      position: absolute;
      bottom: -6px;
      left: 0;
      width: 100%;
      height: 1px;
      border-bottom: 1px solid v.$neutral--10;
    }
  }
}

.filmography-cell__name {
  grid-area: 1 / 1 / 2 / 2;
  min-width: 0;

  @include m.break-reverse(576) {
    grid-area: 1 / 1 / 2 / 2;
  }
}

.filmography-cell__name-button {
  position: static;
  display: -webkit-box;
  width: 100%;
  text-align: left;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  font: 700 16px / 1.5 v.$source-sans;

  &:before {
    content: "";
    position: absolute;
    inset: 0;
    cursor: pointer;
  }

  .button__content {
    white-space: unset;
  }
}

.filmography-cell__role {
  grid-area: 2 / 1 / 3 / 2;
  color: rgba(v.$neutral--100, 0.6);

  @include m.break-reverse(576) {
    grid-area: 2 / 1 / 3 / 2;
  }
}

.filmography-cell__episodes {
  grid-area: 3 / 1 / 4 / 2; 

  @include m.break-reverse(576) {
    justify-self: flex-end;
    align-self: flex-end;
    grid-area: 1 / 2 / 3 / 3;
  }
}
